Импортируем модули

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [4]:
df = pd.read_csv("smoking_driking_dataset_Ver01.csv")

In [5]:
df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

Просмотрим данные на аномалии

In [6]:
df.describe()

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,...,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,47.614491,162.240625,63.284050,81.233358,0.980834,0.978429,1.031495,1.030476,122.432498,76.052627,...,56.936800,113.037692,132.141751,14.229824,1.094224,0.860467,25.989308,25.755051,37.136347,1.608122
std,14.181339,9.282957,12.514241,11.850323,0.605949,0.604774,0.174650,0.171892,14.543148,9.889365,...,17.238479,35.842812,102.196985,1.584929,0.437724,0.480530,23.493386,26.308599,50.424153,0.818507
min,20.000000,130.000000,25.000000,8.000000,0.100000,0.100000,1.000000,1.000000,67.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,1.000000,1.000000,1.000000,1.000000
25%,35.000000,155.000000,55.000000,74.100000,0.700000,0.700000,1.000000,1.000000,112.000000,70.000000,...,46.000000,89.000000,73.000000,13.200000,1.000000,0.700000,19.000000,15.000000,16.000000,1.000000
50%,45.000000,160.000000,60.000000,81.000000,1.000000,1.000000,1.000000,1.000000,120.000000,76.000000,...,55.000000,111.000000,106.000000,14.300000,1.000000,0.800000,23.000000,20.000000,23.000000,1.000000
75%,60.000000,170.000000,70.000000,87.800000,1.200000,1.200000,1.000000,1.000000,131.000000,82.000000,...,66.000000,135.000000,159.000000,15.400000,1.000000,1.000000,28.000000,29.000000,39.000000,2.000000
max,85.000000,190.000000,140.000000,999.000000,9.900000,9.900000,2.000000,2.000000,273.000000,185.000000,...,8110.000000,5119.000000,9490.000000,25.000000,6.000000,98.000000,9999.000000,7210.000000,999.000000,3.000000

In [7]:
df.count

<bound method DataFrame.count of            sex  age  height  weight  waistline  sight_left  sight_right  \
0         Male   35     170      75       90.0         1.0          1.0
1         Male   30     180      80       89.0         0.9          1.2
2         Male   40     165      75       91.0         1.2          1.5
3         Male   50     175      80       91.0         1.5          1.2
4         Male   50     165      60       80.0         1.0          1.2
...        ...  ...     ...     ...        ...         ...          ...
991341    Male   45     175      80       92.1         1.5          1.5
991342    Male   35     170      75       86.0         1.0          1.5
991343  Female   40     155      50       68.0         1.0          0.7
991344    Male   25     175      60       72.0         1.5          1.0
991345    Male   50     160      70       90.5         1.0          1.5

        hear_left  hear_right    SBP  ...  LDL_chole  triglyceride  \
0             1.0         1.0  120.0  ...      126.0          92.0
1             1.0         1.0  130.0  ...      148.0         121.0
2             1.0         1.0  120.0  ...       74.0         104.0
3             1.0         1.0  145.0  ...      104.0         106.0
4             1.0         1.0  138.0  ...      117.0         104.0
...           ...         ...    ...  ...        ...           ...
991341        1.0         1.0  114.0  ...      125.0         132.0
991342        1.0         1.0  119.0  ...       84.0          45.0
991343        1.0         1.0  110.0  ...       77.0         157.0
991344        1.0         1.0  119.0  ...       73.0          53.0
991345        1.0         1.0  133.0  ...      153.0         163.0

        hemoglobin  urine_protein  serum_creatinine  SGOT_AST  SGOT_ALT  \
0             17.1            1.0               1.0      21.0      35.0
1             15.8            1.0               0.9      20.0      36.0
2             15.8            1.0               0.9      47.0      32.0
3             17.6            1.0               1.1      29.0      34.0
4             13.8            1.0               0.8      19.0      12.0
...            ...            ...               ...       ...       ...
991341        15.0            1.0               1.0      26.0      36.0
991342        15.8            1.0               1.1      14.0      17.0
991343        14.3            1.0               0.8      30.0      27.0
991344        14.5            1.0               0.8      21.0      14.0
991345        15.8            1.0               0.9      24.0      43.0

        gamma_GTP  SMK_stat_type_cd  DRK_YN
0            40.0               1.0       Y
1            27.0               3.0       N
2            68.0               1.0       N
3            18.0               1.0       N
4            25.0               1.0       N
...           ...               ...     ...
991341       27.0               1.0       N
991342       15.0               1.0       N
991343       17.0               3.0       Y
991344       17.0               1.0       N
991345       36.0               3.0       Y

[991346 rows x 24 columns]>

In [8]:
df.isna().sum()

sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

Импортируем необхадимые модели

In [9]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score
import warnings
warnings.filterwarnings('ignore')

Преобразовываем переменную на 0/1

In [10]:
le = LabelEncoder()
df['DRK_YN_encoded'] = le.fit_transform(df['DRK_YN'])

Также и с полом

In [11]:
df['sex_encoded'] = le.fit_transform(df['sex'])

Разделяем признаки и целевую

In [12]:
X = df.drop(['DRK_YN', 'DRK_YN_encoded', 'sex'], axis=1)  # Удаляем нечисловые и целевую переменную
y = df['DRK_YN_encoded']

In [13]:
print(f"\nКоличество признаков: {X.shape[1]}")
print(f"Количество образцов: {X.shape[0]}")

Количество признаков: 23
Количество образцов: 991346

Разделяем данные

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, 
    random_state=42, 
    stratify=y  # Сохраняем распределение классов
)

print(f"Размер обучающей выборки: {X_train.shape}")
print(f"Размер тестовой выборки: {X_test.shape}")

Размер обучающей выборки: (793076, 23)
Размер тестовой выборки: (198270, 23)

Масштабирование данных

In [15]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Словарь результатов

In [16]:
results = {}

# Логистиеская регрессия

In [53]:
log_reg = LogisticRegression(max_iter=1000, random_state=42)
param_grid_log = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear', 'saga']
}
grid_log = GridSearchCV(log_reg, param_grid_log, cv=5, scoring='accuracy', n_jobs=-1)
grid_log.fit(X_train_scaled, y_train)

print(f"Лучшие параметры: {grid_log.best_params_}")
print(f"Лучшая точность на кросс-валидации: {grid_log.best_score_:.4f}")

print("\nОценка на тестовой выборке:")
y_pred_log = grid_log.predict(X_test_scaled)
accuracy_log = accuracy_score(y_test, y_pred_log)
print(f"Точность на тестовой выборке: {accuracy_log:.4f}")
print("\nОтчет классификации:")
print(classification_report(y_test, y_pred_log, target_names=['N (не пьет)', 'Y (пьет)']))

results['Logistic Regression'] = {
    'best_params': grid_log.best_params_,
    'cv_score': grid_log.best_score_,
    'test_accuracy': accuracy_log
}

Лучшие параметры: {'C': 10, 'penalty': 'l2', 'solver': 'liblinear'}
Лучшая точность на кросс-валидации: 0.7254

Оценка на тестовой выборке:
Точность на тестовой выборке: 0.7271

Отчет классификации:
              precision    recall  f1-score   support

 N (не пьет)       0.72      0.73      0.73     99172
    Y (пьет)       0.73      0.72      0.72     99098

    accuracy                           0.73    198270
   macro avg       0.73      0.73      0.73    198270
weighted avg       0.73      0.73      0.73    198270

# Случайный лес

In [19]:
rf = RandomForestClassifier(random_state=42)
param_grid_rf = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
grid_rf = GridSearchCV(rf, param_grid_rf, cv=5, scoring='accuracy', n_jobs=-1)
grid_rf.fit(X_train_scaled, y_train)

print(f"Лучшие параметры: {grid_rf.best_params_}")
print(f"Лучшая точность на кросс-валидации: {grid_rf.best_score_:.4f}")
print("\nОценка на тестовой выборке:")
y_pred_rf = grid_rf.predict(X_test_scaled)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print(f"Точность на тестовой выборке: {accuracy_rf:.4f}")
print("\nОтчет классификации:")
print(classification_report(y_test, y_pred_rf, target_names=['N (не пьет)', 'Y (пьет)']))

results['Random Forest'] = {
    'best_params': grid_rf.best_params_,
    'cv_score': grid_rf.best_score_,
    'test_accuracy': accuracy_rf
}

Лучшие параметры: {'n_estimators': 200, 'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 2}
Лучшая точность на кросс-валидации: 0.7421

Оценка на тестовой выборке:
Точность на тестовой выборке: 0.7433

Отчет классификации:
              precision    recall  f1-score   support

 N (не пьет)       0.74      0.75      0.75     99172
    Y (пьет)       0.75      0.74      0.74     99098

    accuracy                           0.74    198270
   macro avg       0.74      0.74      0.74    198270
weighted avg       0.74      0.74      0.74    198270

# Метод опорных векторов (SVM)

In [20]:
svm = SVC(random_state=42)
param_grid_svm = {
    'C': [0.1, 1, 10, 100],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto', 0.1, 0.01]
}
grid_svm = GridSearchCV(svm, param_grid_svm, cv=5, scoring='accuracy', n_jobs=-1)
grid_svm.fit(X_train_scaled, y_train)

print(f"Лучшие параметры: {grid_svm.best_params_}")
print(f"Лучшая точность на кросс-валидации: {grid_svm.best_score_:.4f}")
print("\nОценка на тестовой выборке:")
y_pred_svm = grid_svm.predict(X_test_scaled)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print(f"Точность на тестовой выборке: {accuracy_svm:.4f}")
print("\nОтчет классификации:")
print(classification_report(y_test, y_pred_svm, target_names=['N (не пьет)', 'Y (пьет)']))

results['SVM'] = {
    'best_params': grid_svm.best_params_,
    'cv_score': grid_svm.best_score_,
    'test_accuracy': accuracy_svm
}

Лучшие параметры: {'C': 10, 'kernel': 'rbf', 'gamma': 'scale'}
Лучшая точность на кросс-валидации: 0.7305

Оценка на тестовой выборке:
Точность на тестовой выборке: 0.7318

Отчет классификации:
              precision    recall  f1-score   support

 N (не пьет)       0.73      0.74      0.73     99172
    Y (пьет)       0.73      0.72      0.73     99098

    accuracy                           0.73    198270
   macro avg       0.73      0.73      0.73    198270
weighted avg       0.73      0.73      0.73    198270

# Сравнение результатов

In [21]:
print("\nРезультаты всех моделей:")
for model_name, model_results in results.items():
    print(f"\n{model_name}:")
    print(f"Лучшие параметры: {model_results['best_params']}")
    print(f"Кросс-валидация: {model_results['cv_score']:.4f}")
    print(f"Тестовая точность: {model_results['test_accuracy']:.4f}")

Результаты всех моделей:

Logistic Regression:
Лучшие параметры: {'C': 10, 'penalty': 'l2', 'solver': 'liblinear'}
Кросс-валидация: 0.7254
Тестовая точность: 0.7271

Random Forest:
Лучшие параметры: {'n_estimators': 200, 'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 2}
Кросс-валидация: 0.7421
Тестовая точность: 0.7433

SVM:
Лучшие параметры: {'C': 10, 'kernel': 'rbf', 'gamma': 'scale'}
Кросс-валидация: 0.7305
Тестовая точность: 0.7318

In [22]:
best_model = max(results.items(), key=lambda x: x[1]['test_accuracy'])
print(f"ЛУЧШАЯ МОДЕЛЬ: {best_model[0]}")
print(f"Тестовая точность: {best_model[1]['test_accuracy']:.4f}")
print(f"Параметры: {best_model[1]['best_params']}")

ЛУЧШАЯ МОДЕЛЬ: Random Forest
Тестовая точность: 0.7433
Параметры: {'n_estimators': 200, 'max_depth': 20, 'min_samples_split': 5, 'min_samples_leaf': 2}